<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test Page</h1>
    <p>This is a test page to check the template rendering.</p>

    
    <p>Photos:</p>
    <ul>
        {% for photo in photos %}
            <li>{{ photo.title }} </li>
            <li>{{ photo.description }}</li>
        {% empty %}
            <li>No featured photos available.</li>
        {% endfor %}
    </ul>
</body>
</html>